name: cd

on:
  push:
    branches: [main]

jobs:
  Deploy:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"

      - name: Build app
        run: docker run -e PORT=8080 -p 8080:8080 pakasfand/notely:latest